[Unit]
Description=Node display
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/admin/node_display/node_display.py
Restart=on-abort

[Install]
WantedBy=multi-user.target